@model List<Person>

<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">City</div>
    <div class="col-3">PhoneNUmber</div>

</div>
@foreach (Person person in Model)
{

    <partial name="_PeopleRow" model="person"></partial>
}
