@model Person

<div class="row">
    <div class="col-3">@Model.Name</div>
    <div class="col-3">@Model.PhoneNumber</div>
    <div class="col-3">@Model.City</div>
    <div class="col-3">@Model.Id</div>
    <a asp-action="People">Go back to list</a>
</div>