@model List<Person>
@{
    ViewData["Title"] = "Person";
}

<h1>Person</h1>
<a asp-action="Create">Add a person to the list</a>



<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
    </div>
    @foreach(Person person in Model)

{
       <div class="col-3">@person.Name</div>
          <div class="col-3">@person.PhoneNumber</div>
          <div class="col-3">@person.City</div>
 
         <div>@Html.ActionLink("Details","Details","People", new {id = person.Id})</div> 
     
    <partial name="_PeopleRow" model="person"></partial>

}

























